/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}
.footer{
	text-align: center;
	background-color:black;
	padding-top: 15px;
	padding-bottom: 30px;
	color:grey;
	font-size:25px;
}
#get-involved{
	background-color: #f5f5f5;
}
.jumbotron{
	text-align: center;
	background-image: url('images/hero-image.png'); 
	color:white;
}
ul.nav{
	font-size: 13px;
}
.jumbotron p{
	font-family: 'Arvo 27px', serif;
}
.jumbotron h1{
	margin-top: 0px;
	margin-bottom: 50px;
}
.jumbotron p{
   margin-bottom: 40px;
   font-weight: 100;
   padding: 0 50px;
}
.btn-lg{
	font-size: 36px;
}
.homepage{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.homepage h2, .homepage h3{
	color: #e74c3c;
	font-family: 'Arvo',courier,serif;
	text-transform: uppercase;
}
.homepage h2 {
	font-size: 30px;	
}
.homepage h3{
	font-size: 26px;
}
.homepage p{
	font-weight: 300;
	font-size: 21px;
}
.homepage a{
	color: #e74c3c;
}
.homepage a:hover {
	color: #e74c3c;
	text-decoration: none;
	opacity: 0.8;

}
.homepage hr{
	border-top: 1px solid#e74c3c;
	margin-top: 15px;
	width: 160px;

}
/* Responsive Styling */
@media (max-width: 1199px) {
	.jumbotron h1{
		font-size: 56px;
		margin-bottom: 30px;
	}
}
@media (max-width: 991px) {
     .jumbotron h1{
     	font-size: 44px;
     }
     .jumbotron p{
     	padding: 0 10px;
     }
   #get-involved .col-md-4 {
   	padding-top: 20px;
   	padding-bottom: 20px;
   }

}
@media (max-width: 767px){
	.jumbotron h1{
		font-size: 24px;
	}
	.jumbotron p{
		font-size: 16px;
		padding: 0;
	}
	.btn-lg{
		font-size: 18px;
	}
	.homepage p{
		font-size: 18px;
	}
	.youtube h2{
		background-color:red;
	}
